/sourcecode/CAMELYON16/.ipynb_checkpoints/
/sourcecode/CAMELYON16/application.log
/sourcecode/ORCA/application.log
/sourcecode/ORCA/.fuse_hidden0000504200000002
/sourcecode/ORCA/.ipynb_checkpoints/
/sourcecode/OCDC/application.log
/sourcecode/OCDC/.ipynb_checkpoints/
