/sourcecode/CAMELYON16/.ipynb_checkpoints/
/sourcecode/CAMELYON16/application.log
/sourcecode/ORCA/application.log
/sourcecode/ORCA/.fuse_hidden0000504200000002
/sourcecode/ORCA/.ipynb_checkpoints/
/sourcecode/OCDC/application.log
/sourcecode/OCDC/.ipynb_checkpoints/
/.idea/
__pycache__
/datasets/*/results/**
/datasets/*/testing/**
/datasets/*/training/lesion_annotations/**
/datasets/*/training/normal/**
/datasets/*/training/tumor/**
/models/
.vscode/settings.json
/sourcecode/GAN/checkpoints/**/results*/**
/sourcecode/GAN/checkpoints/**/events.*
/sourcecode/GAN/checkpoints/**/*.log
/sourcecode/GAN/checkpoints/**/*.pt
/sourcecode/GAN/checkpoints/**/*.png
**.amlignore*